{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/raj1.css' %}">
</head>
<body>
    <center>
        <h1>
            Specific_staric folder
        </h1>
        <img src="{% static 'images/raj1.jpg' %}" width="300px" height="500px">
        <img src="{% static 'images/raj2.jpg' %}" alt="" width="300px" height="500px">
    </center>

    
</body>
</html>